:root {
    --card-width: 90px;
    --card-height: 100px;
    --num-cards: 8;
    --card-horiz-space: 10px;
}

body {
    height: 100vh;
}

main {
    height: 55%;
    display: flex;
    justify-content: center;
}

.card-container {
    position: absolute;
    bottom: 5%;
    height: 40%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e f g h";
    border: 1px solid black;
}

.draw-card {
    position: absolute;
    bottom: 29%;
}

.card-pos-a {
    grid-area: a;
}
.card-pos-b {
    grid-area: b;
}
.card-pos-c {
    grid-area: c;
}
.card-pos-d {
    grid-area: d;
}
.card-pos-e {
    grid-area: e;
}
.card-pos-f {
    grid-area: f;
}
.card-pos-g {
    grid-area: g;
}
.card-pos-h {
    grid-area: h;
}

.card-pos-a, .card-pos-b, .card-pos-c, .card-pos-d, .card-pos-e, .card-pos-f, .card-pos-g, .card-pos-h, .card-pos-draw {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    bottom: 4%;
    height: var(--card-height);
    width: var(--card-width);
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-img {
    height: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: translateY(-30px);
}